@page
@model FindEvent
@{
    ViewData["Title"] = "Find Events";

    List<Models.Event> Events = new List<Models.Event>();
}
<h1>@ViewData["Title"]</h1>



        @foreach (var item in Model.Event)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpotsAvailable)
                </td>
            </tr>
        }



