@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Sverige Events!</h1>
    <p>Hitta bästa EVENTSEN i Storstäderna! Gå med idag och joina de senaste eventsen, redan idag!</p>
    <a type="button" asp-area="" asp-page="/FindEvents" class="btn btn-primary btn-lg">Login</a>
    <a type="button" asp-area="" asp-page="/FindEvents" class="btn btn-secondary btn-lg">Register</a>

</div>
