@page "{id}"
@model razorapp1.Pages.JoinEventsPageModel
@{
    ViewData["Title"] = "Join the event";
}

@if (Model.ShowMessage)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" arial-label="Close">X</button>
        @Model.Message
    </div>
    
}



<div class="jumbotron">
    <h1 class="display-4"> @Model.Event.Title</h1>
    <p class="lead">@Model.Event.Description</p>
    <hr class="my-4">
    <p class="font-weight-bold">Date the event was created: @Model.Event.SpotsAvailable </p>
</div>

<hr />

@if (!Model.ShowMessage)
{
    <form method="post">
        <button asp-page-handler="Join" class="btn btn-primary btn-lg">Join</button>
    </form>
}


@if (Model.ShowMessage)
{
    <a type="button" asp-area="" asp-page="/MyEvents" class="btn btn-outline-primary btn-lg">Your events</a>
    <a type="button" asp-area="" asp-page="/FindEvents" class="btn btn-outline-secondary btn-lg">More events</a>
}







