@page
@model razorapp1.Pages.MyEventsModel

@{
    ViewData["Title"] = "MyEvents";
}

<h1>MyEvents</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventAttendee[0].Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventAttendee)
        {
            <tr>
                <td>
                    <a asp-page="../Events/Details" asp-route-id="@item.EventID">@Html.DisplayFor(modelItem => item.Event.Title)</a>
                </td>

            </tr>
        }
    </tbody>
</table>
